/** CSS STYLE **/

:root {
  --white: #fff;
  --white-transpatent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-base: "Open Sans", sans-serif;
  --font-title: "Neucha", cursive;
  --font-size: 16px;
  --line-height: 1.6em;
  --font-color: #2A2626;
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
  font-family: var(--font-base);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  font-family: var(--font-title);
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}

.background {
  position: relative;
  background-color: var(--light);
}

.background::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: 1;
  top: 0;
  left: 0;
}

.background-brown {
  background-color: var(--brown);
}

.header {
  position: relative;
  background-color: var(--light);
}

.row {
  display: flex;
}

.h1 {
  z-index: 9;
  position: relative;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 45px;
  right: -270px;
  z-index: 2;
}

.orange {
  color: var(--main);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}


.button {
  padding: 12px 24px;
  background-color: var(--main);
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.header-desc {
  margin-top: 177px;
}

.header-button {
  margin-top: 20px;
}

.mt-0 {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.what-is-text {
  font-family: var(--font-base);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
}

.what-is-video {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-top: 30px;
  margin-bottom: -184px;
}

.dark {
  background-color: var(--dark-main);
  color: white;
}

.navigation nav {
  padding-top: 100px;
}

.navigation-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  list-style: none;
}

.navigationItem {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.navigationItem-number {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: var(--font-title);
  line-height: 1;
  color: var(--dark-main);
}

.navigationItem-title {
  margin-bottom: 12px;
  font-size: 34px;
  color: var(--main);
  font-family: var(--font-title);
  line-height: 41px;
  text-decoration: none;
}

.navigationItem--desc {
  color: var(--dark);
}

.ikea__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ikea__pic {
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.ikea__pic img {
  width: 100%;
  vertical-align: middle;
}

.ikea__content {
  box-sizing: border-box;
}

.suptitle {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: var(--dark-transparent);
}

.section-title {
  font-family: var(--font-title);
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  margin-bottom: 30px;
  color: var(--font-color);
}

.section-desc {
  font-family: var(--font-title);
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  text-align: left;
  color: var(--font-color);
}

.section-h2 {
  width: 100%;
  background-color: var(--brown);
  font-family: var(--font-base);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  text-transform: uppercase;
  color: var(--white);
  padding: 5px 10px;
  margin: 100px 15px 20px;
}

.section-h2-white {
  background-color: var(--white);
  color: var(--brown);
}

.section-text {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: var(--dark);
}

.white-transpatent {
  color: var(--white-transpatent);
}

.white {
  color: var(--white);
}


.distortion-pic {
  background-color: var(--white);
  box-shadow: 0px 16px 32px 0px #00000026;
}

.distortion-pic img {
  width: 100%;
  vertical-align: middle;
}

.subscribe {
  background-color: var(--dark-main);
  margin-top: 100px;
  padding: 38px 55px 55px;
}

.subscribe-title {
  color: var(--white);
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  text-align: left;
}

footer {
  background-color: var(--white);
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.subscribe-label {
  width: 100%;
  color: var(--white);
  font-family: var(--font-base);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 9px;
}

.subscribe-input {
  width: calc(100% - 70px);
  height: 50px;
  background-color: var(--white);
  border: 1px solid #E3E3E3;
  padding: 15px;
  color: #757575;
  box-sizing: border-box;
}

.subscribe-btn {
  background-color: var(--main);
  height: 50px;
  width: 70px;
  border: none;
}

.subscribe-rules {
  font-family: var(--font-base);
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: var(--white);
}

.subscribe-rules a {
  color: inherit;
}

.copyright {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin-bottom: 95px;
}

.copyright-item {
  margin-bottom: 16px;
}
