/** CSS STYLE **/

:root {
  --white: #fff;
  --white-transpatent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-base: "Open Sans", sans-serif;
  --font-title: "Neucha", cursive;
  --font-size: 16px;
  --line-height: 1.6em;
  --font-color: #2A2626;
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
  font-family: var(--font-base);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  font-family: var(--font-title);
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}

.background {
  position: relative;
}

.background::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: 1;
}

.header {
  position: relative;
  background-color: #F5F4F0;
}

.row {
  display: flex;
}

.h1 {
  z-index: 9;
  position: relative;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 45px;
  right: -270px;
  z-index: 2;
}

.orange {
  color: var(--main);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}


.button {
  padding: 12px 24px;
  background-color: var(--main);
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.header-desc {
  margin-top: 177px;
}

.header-button {
  margin-top: 20px;
}

.mt-0 {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.what-is-text {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
}

.what-is-video {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-top: 30px;
  margin-bottom: -184px;
}
